<div class="top">
        	<header>
        		<div class="inHeader main">
        			<h1>
    	    			<a href="{:U('Index/index')}"><img src="__IMG__/logo.png" height="63" width="182"></a>
    	    		</h1>
    	    		<div class="phone">021-60487602 / 13817236352</div>
    	    		<div class="col">
    	    			<a href="javascript:;" class="collectNum">0</a>
    	    			<a href="javascript:;" class="collectYour">您的<br/>收藏</a>
    	    		</div>
        		</div>
        	</header>
            <nav>
                <ul class="clearfix main">
                    <li><a href="{:U('Home/Index/index')}">首ss页</a></li>
                    <li><a href="{:U('Home/Offices/index')}">找办公空间</a></li>
                    <li><a href="{:U('Home/Index/help')}">怎么帮助到您</a></li>
                    <li><a href="{:U('Home/Index/about')}">关于我们</a></li>
                    <li><a href="{:U('Home/Index/clause')}#clause">服务条款</a></li>
                </ul>
            </nav>
        </div>