<extend name="Base/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/aboutUs.css">
    <script type="text/javascript" src="__JS__/helpYou.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
</block>
<block name="body">
    <div class="wrap">
            <div class="banner">
                <div class="inBanner">
                    <h3>我们是一群观察者！我们是一群行动者！</h3>
                    <span>WE ARE A GROUP OF OBSERVERS! WE ARE A  GROUP OF ACTORS!</span>
                </div>
            </div>
            <div class="space">
                <h5>空间是有限的，也是无限的</h5>
                <p>在这个信息化技术快速进化的今天，我们一直在观察，同时我们又不甘成为一个围观者，于是我们就行动了。对的，我们就是一群观察型的行动者。<br/>我们团队来自IT领域，也来自这个平台空间领域的资深从业者，于是，我们建立了一个办公室空间租赁的互联网平台。<br/>在互联网这个领域已不算新事物，我们顺势而为，这也只是我们第一步，我们更有我们的目标和方式。 有人说这是商务2B的市场，其实是2C的市场，<br/>我们放眼于以人为本的空间分享，并结合技术解放这个行业领域固有的运营思路，让更多的用户在空间的选择上真正获得全新的体验。<br/>您从我们平台获得办公空间信息仅仅是第一步，欢迎大家关注并与我们互动，更欢迎同样爱观察也愿意行动的伙伴加入我们，一起做一个让人能充分享受空间体验的互联网平台。</p>
            </div>
            <div class="share">
                <ul class="clearfix">
                    <li>
                       <a href="javascript:;">
                           <div class="up">
                                <p>分享办公空间</p>
                           </div>
                           <div class="down">
                               <p>不管是您是空间需求方还是空间提供方，OmO将空间通过我们特有体验，将远不可及的空间提供身临其境的感性体验，专业数据分析和优化，为决策提供理性客观的保障。</p>
                           </div>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:;">
                           <div class="up">
                                <p>分享合作空间</p>
                           </div>
                           <div class="down">
                               <p>OmO既将大家聚集在一个蓝天屋檐下，又打破空间的物理壁垒，您可以随时分享您的服务领域并获得更多同行或跨行的服务支持，寻找到志同道合的伙伴。</p>
                           </div>
                       </a>
                    </li>
                    <li>
                       <a href="javascript:;">
                           <div class="up">
                                <p>分享思维空间</p>
                           </div>
                           <div class="down">
                               <p>一切活跃的商务合作和创意，来源于大家的积极参与和奉献分享，OmO将分享大家所有的思想碰撞，成为思维创意的翅膀飞得更远。</p>
                           </div>
                       </a>
                    </li>
                </ul>
            </div>
            <div class="simple">
                <div class="sim">
                   <div class="inSimple main">
                        <div class="caption">
                            <h3>简单  轻松  自由  舒适</h3>
                        </div>
                        <div class="mid_block">
                            <div class="count-item first">
                                <div class="count-number" id="count_1" style="width: 180px">9</div>
                                <div class="count-fonts">9年的坚持</div>
                            </div>
                            <div class="count-item">
                                <div class="count-number" id="count_2" style="width: 220px">100</div>
                                <div class="count-mc"></div>
                                <div class="count-fonts">100多位伙伴</div>
                            </div>
                            <div class="count-item">
                                <div class="count-number" id="count_3" style="width: 180px">4</div>
                                <div class="count-fonts">4大业务整合</div>
                            </div>
                            <div class="count-item">
                                <div class="count-number" id="count_4" style="width: 220px">100</div>
                                <div class="count-mc"></div>
                                <div class="count-fonts">服务100多家知名企业</div>
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
            <div class="imgTab">
                <div class="inTab main">
                    <div class="imgTabHead">
                       <ol class="clearfix">
                           <li>
                               <img src="../images/imgTab01.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab02.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab03.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab04.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab05.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab06.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab07.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab08.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab09.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab10.jpg">
                           </li>
                       </ol>
                       <ol class="clearfix">
                           <li>
                               <img src="../images/imgTab01.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab02.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab03.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab04.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab05.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab06.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab07.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab08.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab09.jpg">
                           </li>
                           <li>
                               <img src="../images/imgTab10.jpg">
                           </li>
                       </ol>
                    </div>
                    <div class="imgTabFoot">
                        <ul class="clearfix">
                            <li class="first current"></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact">
                <h5>联系我们</h5>
                <p>一个新的需求，从这里开始。欢迎填写表格或发送合作邮件至：market01@suntech.cc</p>
                <div class="inContact clearfix">
                    <div class="con-left">
                        <input type="text" placeholder="您的姓名：">
                        <input type="text" placeholder="您的邮件：">
                        <input type="text" placeholder="您的电话：">
                        <ol>
                            <li><span>地址：</span><em>上海市徐汇区宜山路425号光启商务楼12楼</em></li>
                            <li><span>电话：</span><em>400 0000 0000</em></li>
                        </ol>
                    </div>
                    <div class="con-right cleafix">
                        <textarea placeholder="您的需求："></textarea>
                        <button>提交</button>
                    </div>
                </div>
            </div>
        </div>
</block>
