body{
	background-color: #f4f4f4;
}
header{
	position: inherit;
}
nav{
	box-shadow: none;
	position: inherit;
}
nav ul{
	position: relative;
}
.hous-main{
	width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #ccc;
	background-color: #fff;
	min-height: 1280px;
}
.drop{
	float: left;
	font-size: 0;
	margin-right: 20px;
}
.drop em{
	float: left;
	font-size: 14px;
	color: #222;
	line-height: 35px;
	margin-right: 15px;
}
.dropdown{
	padding: 0;
	float: left;
	background-color: #fff;
}
.dropdown button{
	width: 120px;
	height: 35px;
	border: 1px solid #d8d8d8;
	background-color: transparent;
	text-align: left;
	padding-left: 13px;
	font-size: 14px;
	color: #999;
	outline: none;
	position: relative;
}
.dropdown button:hover{
	border: 1px solid #13aced;
}
.dropdown:hover .caret{
	border-top: 3px solid #13aced;
	border-left: 3px solid #13aced;
}
.dropdown .caret{
	border: none;
	width: 10px;
	height: 10px;
	border-top: 3px solid #2d2d2d;
	border-left: 3px solid #2d2d2d;
	float: right;
	-webkit-ransform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	transform: rotate(-135deg);
	position:absolute;
	top: 11px;
	right: 15px;
}
.dropdown-menu{
	min-width: 120px;
	border-radius: 0;
	margin-top: 0;
	text-align: center;
	padding: 0;
	border-top: 1px solid #fff;
	border-bottom: none;
	box-shadow: none;
	cursor: pointer;z-index: 999999;
}
.dropdown-menu li{
	line-height: 30px;
	border-bottom: 1px solid #d8d8d8;
}
.main-top{
	padding: 23px;
	border-bottom: 1px solid #CCC;
}
.main-top strong{
	font-size: 26px;
	color: #3b3d3d;
	font-weight: normal;
}
.filtrate{
	margin-top: 25px;
}
.filtrate .addHous {
    width: 120px;
    height: 35px;
    background: #2d2d2d url(../images/pandect_add_icon.png) 12px 9px no-repeat;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    padding-left:42px;
    margin-bottom: 0;
    float: right;
    outline: none;
}
.filtrate .addHous:hover{
	background-color: #13aced;
}
.in-hous{
	padding:  0 21px;
}
.in-hous .compile{
	position: absolute;
	font-size: 0;
	top: 14px;
	right: 6px;
}
.in-hous .compile button,.in-hous .compile a{
	color: #fff;
	font-size: 14px;
	width: 59px;
	height: 31px;
	margin-right: 1px;
	background-color: #2d2d2d;
	outline: none;
}
.in-hous .compile a{
	display: block;
	float: left;
	text-align: center;
	line-height: 31px;
	background-color: #13aced;
}
.in-hous li{
	width: 333px;
	border: 1px solid #ccc;
	margin-top: 20px;position: relative;
	margin-left: 25px;
	float: left;
}
.in-hous li.first{
	margin-left: 0;
}
.in-hous li img{
	width: 333px;
	height: 227px;
}
.in-hous .li-down .btns{
	font-size: 0;
}
.in-hous .li-down .btns button{
	width: 68px;
	height: 40px;
	color: #fff;
	background-color: #2d2d2d;
	font-size: 14px;
	margin-top: 1px;
	outline: none;
	margin-left: 1px;
}
.in-hous .li-down .btns button:nth-child(1){
	width: 124px;
	margin-left: 0;
}
.in-li{
	font-size: 16px;
	font-weight: bold;
	color: #13aced;
}
.in-li span,.in-li em{
	padding-left: 38px;
	line-height: 47px;
	background: url(../images/de-icon.png) 10px 1px no-repeat;
}
.in-li em{
	background-position: 10px -37px;
	color: #ff8400;
}
.flipOver{
	text-align: center;
	margin-top: 33px;
	margin-bottom: 30px;
}
.flipOver ul{
	display: inline-block;
	position: relative;
	top: 11px;
}
.flipOver li{
	float: left;
	border: 1px solid #ddd;
	margin-right: 5px;
}
.flipOver li a{
	padding:6px 12px;
	display: block;
}
.flipOver li:hover{
	border: 1px solid #13aced;
}
.flipOver li:hover a{
	color: #13aced;
}
.flipOver li.current{
	background: #13aced;
}
.flipOver li.current a{
	color: #fff;
}
.flipOver .special:hover{
	border: none;
	color: #222;
}
.flipOver .special{
	border: none;
	padding: 0;
	margin-top: 10px;
}
.flipOver span{
	color: #222;
	margin:0 5px;
}
.flipOver span input{
	margin: 0 8px;
}
.flipOver input{
	width: 60px;
	height: 30px;
	border: 1px solid #ddd;
	text-align: center;
	outline: none;
}
.flipOver button{
	width: 62px;
	height: 32px;
	background-color: #13aced;
	color: #fff;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}
.flipOver button:hover{
	background: #149ed8;
	outline: none;
}
.in-hous h1{
	font-size: 26px;
	color: #999;
	text-align: center;
	margin-top: 50px;
}
.in-hous .compile .editbtn {
	background-color: #13aced;
    color: #fff;
    font-size: 14px;
    width: 59px;
    height: 31px;
    margin-right: 1px;

    outline: none;
}